/*<link rel="stylesheet" href="style.css">*/
/*https://coolors.co/ffeedb-80a1c1-37423d-d95d39-420217-545f66 */

/* Heading */
.header{
    padding: 1px;
    text-align: center;
    background: #545F66;
    color: #D95D39;
    font-size: 30px;
    font-family: 'Red Hat Mono', monospace;
}

/* Footer */
footer{
    text-align: center;
    background-color: #545F66;
    color: #D95D39;
    padding: 15px;
    font-family: 'Red Hat Mono', monospace;
}
footer a{
    color: #420217;
}
footer a:hover{
    color: #D95D39;
}
/* Nav Bar */
nav{
    padding: 5px;
    text-align: center;
    background-color: #114B5F;
    font-family: 'Red Hat Mono', monospace;
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
    width: 100%;
}
li{
    display: inline;
    /* padding: 5px; */
}
li a{
    color: white;
    background-color: #420217;
    text-align: center;
    padding: 5px 25px;    
    margin: 1px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
}

li a:hover{
    background-color: #D95D39;
}

/* Body */
body{
    background-color: #FFEEDB ;
    font-family: 'Red Hat Mono', monospace;
    padding: 15px;
}
main{
    background-color: #80A1C1;
    padding: 20px;
}
.center{
    text-align: center;
    clear: both;
}
h2{
    color: #664147;
}
main h3{
    color: #664147;
}
p{
    color: #231F20;    
}